# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Test Project.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Usuario\Documents\Unity Projects\Test Project\.idea\.idea.Test Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
